a {
    outline: none !Important;
    text-decoration: none;
    color: #e3523e;
}
a:active, a:hover {
    text-decoration: underline;
}
.top-red .top-menu .logo {
    margin-left: 0;
    margin-top: 0;
}
#Breadcrumbs {
    display: inline-block;
    float: left;
    width: 450px;
    max-width: 100%;
    overflow: hidden;
    padding: 0 15px;
    white-space: nowrap;
}
ul.B_crumbBox {
    list-style: none;
    padding-left: 0;
    margin: 5px 0 0;
}
.B_crumbBox li {
    display: inline-block;
    float: left;
    margin-right: 7px;
}
.B_crumbBox li a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}
.top-red {
    background: #E3523E;
    overflow: hidden;
}
.logo-red {
    float: left;
    margin-right: 25px;
    display: inline-block;
}
.sisea-search-form {
    height: 44px;
    position: relative;
    margin-bottom: 12px;
    margin-top: 2px;
    width: 290px;
}
.sisea-search-form button {
    position: absolute;
    right: 15px;
    top: 0;
    line-height: 47px;
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 18px;
    float: right;
}
#search {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    height: 40px;
    width: 290px;
    outline: none;
    padding: 0 30px;
    box-sizing: border-box;
}
.onmain {
    float: right;
    margin-top: 10px;
    margin-left: 60px;
}
.onmain a {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.onmain span {
    position: relative;
    margin-top: 5px;
    display: inline-block;
    float: left;
    margin-right: 7px;
}
.onmain i:before {
    content: "→";
    font-size: 27px;
    line-height: 0.5em;
}
.full-content {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.category {
    background: #fafafa;
    overflow: hidden;
    padding: 20px 0 0;
}
.category ul {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 60px;
    list-style: none;
}
.category li {
    float: left;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
}
.category li a {
    font-size: 16px;
    color: #575757;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 2px 10px;
    outline: none;
    line-height: 1em;
}
.category li.active a {
    border: 1px solid #e3523e;
    padding: 2px 10px;
    border-radius: 15px;
    line-height: 1em;
    color: #e3523e;
    font-weight: 500;
}
#blog_section,
.standart {
    margin: 50px 0;
    overflow: hidden;
}
.btn-more {
    width: 250px;
    margin: 30px auto;
    clear: both;
}
.btn-more a {
    text-decoration: none;
    font-weight: 500;
    line-height: 60px;
    border: 2px solid #e3523e;
    border-radius: 40px;
    font-size: 16px;
    color: #e3523e;
    height: 60px;
    text-align: center;
    display: block;
}
.btn-more a:hover {
    background: #e3523e;
    color: #fff;
}
.blog-item {
    margin-bottom: 30px;
}
body {
    background: #f5f5f5;
}
.pagination {
    display: none;

}
.full-content .col-9 {
    width: 75%;
    float: left;
}
.full-content .col-9 .content {
    padding-right: 100px;
}
.full-content .col-9 .content .tag {
    color: #c8c8c8;
    font-size: 16px;
}
.full-content .col-9 .content {
    font-size: 17px;
    color: #575757;
    font-weight: 300;
    line-height: 1.5em;
}
.full-content .col-9 .content h1 {
    font-size: 42px;
    color: #e3523e;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 1.2em;
}
.full-content .col-9 .content h2 {
    font-size: 24px;
    color: #e3523e;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.2em;
}

.full-content .col-9 .content h3 {
    font-size: 20px;
    color: #e3523e;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 40px;
    line-height: 1.2em;
}
.full-content span.sisea-highlight {
    background: #e3523e;
    color: #fff;
    padding: 0 5px;
}
.full-content .col-9 .content h3 a {
    text-decoration: none;
    color: #e3523e;
}

.full-content .col-9 .content h4 {
    font-size: 18px;
    color: #e3523e;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.2em;
}
.full-content .col-9 .content p {
    margin-bottom: 10px;
}
.sidebar {
    height: 100%;
    background: #fafafa;
    width: 25%;
    float: left;
    padding: 30px 15px;
}
.sidebar .category {
    margin-bottom: 40px;
}
.sidebar .category ul {
    margin: 0;
    padding-left: 20px;
}
.sidebar .category ul li {
    clear: both;
    margin-bottom: 10px;
}
.social {
    margin-top: 50px;
}
.full-content .col-9 .content .social h3 {
    color: #c8c8c8;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.full-content .col-9 .content .social ul {
    padding-left: 0;
}
.full-content .col-9 .content .social li:before {
    content: none;
}
.article .head h2 {
    font-size: 18px;
    color: #c8c8c8;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 30px;
}
.article .item {
    margin-bottom: 30px;
}
.article .item .img {
    padding-left: 15px;
}
.article .item .h3 {
    padding-left: 20px;
    margin-top: 10px;
}
.article .item .h3 p {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.full-content .col-9 .content ul {
    padding-left: 20px;
}
.full-content .col-9 .content li {
    list-style: none;
    position: relative;
}
.full-content .col-9 .content li:before {
    content: '';
    background: #e3523e;
    width: 3px;
    height: 3px;
    position: absolute;
    left: -10px;
    margin-right: 10px;
    top: 12px;
}
#result {
    padding: 30px;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    font-size: 14px;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    font-size: 14px;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
    font-size: 14px;
}
.open-search {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 50px;
    z-index: 2;
}

@media (max-width: 960px) {
    #blog_section .row .blog-item {
        margin-bottom: 0;
    }
    .top-red .top-menu .logo {
        overflow: hidden;
        margin: 10px 15px;
    }
    .nomobile {
        display: none;
    }
    .full-content {
        width: 100%;
    }
    .container {
        margin-top: 20px;
    }
    .category {
        padding: 0 0 20px;
    }
    div.search {
        position: absolute;
        top: 0;
        left: 0;
        background: #e3523e;
        padding: 4px 20px;
        display: none;
        width: 100%;
        z-index: 1;
    }
    div.search.open {
        display: block;
    }
    .sisea-search-form {
        margin-bottom: 0;
    }
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
    .full-content .col-9 {
        padding: 0 20px;
        width: 100%;
    }
    .full-content .sidebar {
        padding: 0 20px;
        width: 100%;
    }
    .full-content .col-9 .content {
        padding-right: 0;
    }
    .full-content .col-9 .content h1 {
        font-size: 29px;
        margin-bottom: 30px;
    }
    .full-content .col-9 .content h2 {
        font-size:20px;
    }
    .full-content .col-9 .content h3 {
        font-size: 18px;
    }
    .B_crumbBox li a {
        font-size:17px;
    }
    .sidebar .category ul,
    .article .head h2,
    .article .item .h3{
        padding-left: 0;
    }
}