.menu {
    display: none;
    height: 100%;
    width: 100%;
    background: #e3523e;
    z-index: 101;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.menu .logo {
    margin: 30px 20px;
    width: 170px;
}
.mobile-only {
    display: none;
}
select#tab_select {
    width: calc(100% - 40px);
    margin: 0 20px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ddd;
    background: #f5f5f5;
    height: 40px;
    padding: 0 20px;
    font-size: 19px;
    font-weight: 300;
}
.menu ul {
    clear: both;
    margin: 20px;
    list-style: none;
    padding-left: 0;
}
.menu ul.languages {
    margin-top: 30px;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
}
.menu ul li {
    margin: 20px;
}
.toggle {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px;
    padding: 0;
    cursor: pointer;
    z-index: 102;
}
.toggle > div {
    height: 1.65em;
    width: 1.65em;
    cursor: pointer;
}
@media (max-width: 1300px) {
    ul.slick-dots {
        padding-left: 80px;
    }
}
@media (max-width: 960px) {

    .close {
        right: 30px;
    }
    #fullpage {
        min-width:100%;
    }
    .container {
        max-width:100%;
        width:100%;
    }
    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    .video embed,
    .video object,
    .video iframe {
        width: 100%;
        height: auto;
        min-height: 300px;
    }
    .close {
        right: 20px;
    }
    .container.absolute {
        left: 0;
        margin-left: 0;
    }
    #intro_section .top-menu {
        margin-top: 20px;
    }
    #intro_section .top-menu .logo,
    .top-menu .logo {
        margin-left: 20px;
    }
    .top-menu .pull-right .phone,
    .top-menu .pull-right .language {
        display: none;
    }

    .toggle {
        display: block;
    }
    #intro_section .arrow-container {
        bottom: 30px;
    }
    #intro_section h1 {
        font-size: 40px;
        line-height:40px;
        margin: 100px 0 20px;
    }
    #intro_section p.description {
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        padding: 0 20px;
    }
    a.btn-red {
        width: 250px;
        height: 60px;
        line-height: 60px;
        outline: none;
        font-size: 15px;
    }
    #intro_section .bg-container > div {
        z-index: 2;
    }
    #about_section .count-on-table-container {
        margin-top: 50px;
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    #trust_section .how-we-work {
        padding-bottom: 0;
    }
    .blog-wrapper {
        margin-top: 30px;
    }
    #service_section .how-we-work {
        padding-top: 0;
    }
    #trust_section h2,
    #about_section h2,
    #sample_section h2,
    #service_section .heading,
    #contact_section .heading,
    #blog_section h2 {
        font-size: 27px;
        padding-left: 20px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 40px;
    }
    #trust_section .how-we-work .col-4 {
        width: 50%;
        height: 120px;
    }
    #service_section .how-we-work .col-3 {
        width:100%;
        padding: 10px 35px;
        margin-bottom: 0;
    }
    #service_section .how-we-work .heading {
        max-width: 100%;
    }
    #service_section .how-we-work .descr {
        max-width: 100%;
        padding-bottom: 0;
    }
    #fp-nav {
        display: none;
    }
    #contact_section .row.col-2 {
        width: 100%;
        float: none;
        padding: 20px;
        clear: both;
    }
    #contact_section form input {
        height: 60px;
    }
    #contact_section form textarea {
        padding: 25px 30px;
    }
    #contact_section form {
        padding-bottom: 0;
    }
    #contact_section .heading {
        margin-top: 70px;
    }
    #contact_section form .send {
        margin-top: 0;
    }
    #blog_section .row .col-3,
    #footer .row .col-3 {
        width: 100%;
        float: none;
        clear: both;
        padding: 0 48px 0 20px;
        margin-bottom: 20px;
    }
    #blog_section .row .blog-item .img-block {
        max-width: 100%;
        height: auto;
    }
    #blog_section .top-menu {
        margin-top: 30px;
    }
    #blog_section .btn-wrapper {
        margin-top: 20px;
    }
    #footer_section .row .col-3 .dinline {
        margin-top: 0;
        margin-bottom: 20px;
        overflow: hidden;
    }
    #footer_section .row .col-3 .nav-footer-menu ul {
        margin-top: 0;
    }
    #footer_section .row .col-3 .social {
        margin-top: 0;
    }
    #footer_section .row .col-3 .head h4 {
        font-weight: 400;
        height: auto;
        margin-bottom: 20px;
    }
    .mobile-none {
        display: none !important;
    }
    #footer_section .row .col-3 .copyright {
        margin-top: 40px;
    }
    .fp-tableCell {
        vertical-align: top;
    }
    .video {
        height: auto;
        overflow: auto;
        padding-bottom: 300px;
    }
    #modal .dm-modal {
        padding: 0 20px;
    }
    .dm-cell {
        padding: 0;
    }
    #modal_contact .descr {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .mobile-only {
        display: block;
    }
    #modal_contact #tabs .phone, #modal_contact #tabs .email {
        padding: 0 20px;
    }
    #modal_contact #tabs .phone p, #modal_contact #tabs .email p {
        margin-bottom: 10px;
        margin-top: 0;
    }
    #modal_contact #tabs .phone, #modal_contact #tabs .email {
        font-size: 25px;
    }
    #modal_contact #tabs .ui-widget-content {
        height: auto;
    }
    #service_section .how-we-work .heading {
        font-size: 23px;
    }
    #blog_section .row .blog-item h3 {
        font-size: 22px;
    }
    #sample_section .top-menu {
        margin-top: 30px;
    }
    .mejs-container {
        max-width: 100%;
    }
    .bg-red {
        margin-top: 50px;
    }

}
.slick-slider {
    padding-left: 0;
}

@media (min-width: 830px) and (max-width: 1170px) {
    .full-content {
        width: 100%;
    }
    .sample-music {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        overflow: hidden;
    }
    .container {
        width:100%;
        padding: 0 80px;
    }
    .container.absolute {
        position: absolute !important;
         left: 0;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 0;
    }
}

@media (max-width: 830px) {
    .sample-music {
        position: relative;
        bottom: inherit;
        z-index: 1;
        height: 70px;
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 660px) {
    li.slick-slide.slick-active.slick-center {
        height: 100%;
    }
    .mejs-controls .mejs-time-rail .mejs-time-total {
        margin: 16px 10px;
    }
    .mejs-controls .mejs-button button {
        margin: 13px 10px 13px 20px;
    }
    .mejs-container .mejs-controls {
        height: 40px;
    }
    .mejs-container .mejs-controls .mejs-time {
        padding: 14px;
    }
    .sample-music {
        height: 40px;
    }
    .mejs-container .mejs-controls  div {
        width: 56px;
    }
}

@media (min-height: 500px) and (max-width: 960px) {
    #intro_section h1.visible {
        margin-top: 150px;
        margin-top: 30.5vh;
    }
}

.toggle > div > div {
    width: 100%;
    height: 2px;
    margin: 0 0 .43em 0;
    background-color: #e3523e;
    transition-duration: .3s;
    transition-delay: 0s, 0s, 0s, 0s;
}
.fp-viewing-intro .toggle > div > div,
.fp-viewing-contact .toggle > div > div,
.toggle.open > div > div {
    background-color: #fff;
}

.toggle > div > div:nth-child(3) {
    width: 100%;
    float: right;
}
.toggle:hover > div > div:nth-child(3) {
    width: 100%;
}

.toggle.open > div > div:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
}

.toggle.open > div > div:nth-child(2) {
    opacity: 0;
}

.toggle.open > div > div:nth-child(3) {
    width: 100%;
    -webkit-transform: translateY(-12px) rotate(-45deg);
    -ms-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
}

.toggle.dark > div > div {
    background-color: #15181C;
}

.toggle.ligth > div > div {
    background-color: #ffffff;
}

.overlay {
    z-index: 11;
}

@media (max-width: 390px) {
    .slick-track {
        height: 250px;
    }

}


/* стили только для mac */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and (min-device-width : 1024px),
only screen and (max-device-width : 1624px) {
    ul.slick-dots {
        position: absolute;
        top: -150px;
        color: #707070;
        padding: 0 100px;
    }
    .mejs-container {
        height: 50px !important;
        max-width: 100%;
    }
    .sample-music {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        overflow: hidden;
        height: 120px;
        bottom: 20px;
    }
    .mejs-container .mejs-controls {
        height: 58px;
    }
    .mejs-controls .mejs-button button {
        margin: 25px 20px;
    }
    .mejs-container .mejs-controls  div {
        width: 50px;
    }
    .mejs-controls .mejs-time-rail .mejs-time-total {
        margin: 27px 20px;
    }
    #contact_section form {
        padding-bottom: 0;
    }
    #about_section .count-on-table-container {
        max-width: 60%;
        margin: 40px auto 0;
    }
    #blog_section .top-menu {
        margin-top: 30px;
    }
    #service_section .how-we-work .heading {
        margin-bottom: 10px;
    }
    .slick-slider {
        margin: 0;
    }
    .fp-tableCell {
        display: block;
        vertical-align: top;
    }
    #intro_section .container.clearfix {
        margin-top: 200px;
    }
    #intro_section .arrow-container {
        position: relative;
        bottom: 0;
        margin-top: 150px;
    }
    .bg-red {
        margin-top: 150px;
    }
    #about_section h2 {
        margin: 50px 0;
        font-weight: 400;
    }
    img {
        border: 0;
        max-width: 100%;
        height: auto;
    }
    .top-menu .logo {
        margin-left: 50px;
        width: 170px;
        margin-top: 10px;
    }
    #about_section .top-menu .logo,
    #trust_section .top-menu .logo,
    #sample_section .top-menu .logo,
    #service_section .top-menu .logo,
    #blog_section .top-menu .logo
    {
        height: 40px;
        background: url(../img/LOGO_MM.svg) no-repeat;
        background-size: 848px 356px;
        background-position: -341px -158px;
    }
    #about_section .top-menu .logo img,
    #trust_section .top-menu .logo img,
    #sample_section .top-menu .logo img,
    #service_section .top-menu .logo img,
    #blog_section .top-menu .logo img {
        display: none;
    }
    .top-menu .phone {
        font-size: 19px;
        margin-right: 50px;
    }
    .top-menu .phone a {
        height: 35px;
        width: 35px;
    }
    #trust_section .how-we-work {
        padding: 60px 80px 0;
    }
    #trust_section h2 {
        margin: 50px 0 0;
    }
    #blog_section h2 {
        margin: 30px 0;
      }
    #sample_section h2 {
        margin: 30px 0 0;
    }
    #trust_section .how-we-work .row {
        margin: 0;
    }
    #trust_section .how-we-work .col-4 {
        height: 130px;
    }
    #service_section .how-we-work .heading {
        font-size: 23px;
    }
    #service_section .how-we-work .col-3 {
        margin-bottom: 0;
    }
    #sample_section .top-menu {
        margin-top: 30px;
    }
    .video {
        width: 80%;
        margin: 0 auto;
        height: auto;
    }
    #contact_section form input {
        height: 60px;
    }
    #contact_section form textarea {
        height: 145px;
    }
    .row.col-2.pull-left.l-col {
        padding-left: 40px;
    }
    .row.col-2.pull-left.r-col {
        padding-right: 40px;
    }
    #contact_section form .send {
        height: 55px;
    }
    #contact_section .heading {
        font-weight: 400;
    }
    .sisea-search-form {
        line-height: 40px;
    }
    .onmain i {
        margin-top: 10px;
    }
    .sisea-search-form button {
        line-height: 40px;
    }

}


/* стили только для Ipad air 2 */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .full-content #blog_section {
        padding: 0 20px;
    }
    img {
        border: 0;
        max-width: 100%;
    }
    #about_section .count-on-table-container {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .mejs-container {
        height: 50px !important;
        max-width: 100%;
    }
    .sample-music {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        overflow: hidden;
        height: 120px;
        bottom: 20px;
    }
    .mejs-container .mejs-controls {
        height: 58px;
    }
    .mejs-controls .mejs-button button {
        margin: 25px 20px;
    }
    .mejs-container .mejs-controls  div {
        width: 50px;
    }
    .mejs-controls .mejs-time-rail .mejs-time-total {
        margin: 27px 20px;
    }
    #footer_section .row .col-3 .dinline .item {
        margin-right: 10px;
    }
    #footer_section .row .col-3 .nav-footer-menu ul.pr20 {
        padding-right: 0;
    }
    #contact_section .heading {
        margin: 100px 0 50px;

    }
    #contact_section form {
        padding-bottom: 50px;
    }
    .top-red .top-menu .logo {
        float: none;
    }
    .onmain {
        display: none;
    }
    .container {
        padding: 0;
    }
    .sidebar .category ul {
        width: 100%;
    }
    .full-content .col-9 .content {
        padding-left: 20px;
    }
    .top-red {
        padding: 0 20px;
    }
    #footer_section {
        padding: 0 20px;
        width: 100%;
        box-sizing: border-box;
    }

    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
    .top-red .top-menu .logo {
        margin-left: 20px;
        margin-right: 20px;
    }
    .close {
        right: 30px;
    }
    #contact_section .row.col-2.r-col {
        padding-right: 40px;
    }
    .blog-wrapper {
        padding-left: 60px;
        padding-right: 40px;
    }

    #about_section .count-on-table-container {
        max-width: 60%;
        margin: 40px auto 0;
    }

}
/* стили только для Ipad air 2 portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    #blog_section .row {
        margin-right: 0;
    }
    #blog_section .row .col-3, #footer .row .col-3 {
        width: 50%;
        float: left;
        clear: none;
        padding: 0 15px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }

    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
    .top-red .top-menu .logo {
        margin-left: 20px;
        margin-right: 20px;
    }
    #footer_section {
        padding: 0 20px 0 5px;
    }
    .open-search {
        line-height: 62px;
    }
    div.search {
        padding: 10px 20px;
    }
    #intro_section .container.clearfix {
        margin-top: 0;
    }
    #about_section .count-on-table-container {
        max-width: 90%;
    }
    .top-menu .logo {
        margin-left: 20px;
    }
    #blog_section .overflow-helper .row .col-3:nth-child(3) {
        display: none;
    }

}


@media only screen
and (max-device-width : 768px) {
    #intro_section .top-menu .logo, .top-menu .logo,
    .menu .logo {
        max-width: 120px;
    }
    #intro_section .container.clearfix {
        margin-top: 0;
    }
    #intro_section h1 {
        line-height: 1.2em;
        font-size: 25px;
        padding-left: 20px;
    }
    #intro_section p.description {
        font-size: 17px;
        line-height: 1.2em;
    }
    #trust_section h2, #about_section h2, #sample_section h2, #service_section .heading, #contact_section .heading, #blog_section h2 {
        font-size: 22px;
    }
    #about_section .top-menu .logo, #trust_section .top-menu .logo, #sample_section .top-menu .logo, #service_section .top-menu .logo, #blog_section .top-menu .logo {
        background-size: 623px 237px;
        background-position: -248px -105px;
        margin-left: 20px;
    }
    #about_section .count-on-table-container {
        max-width: 90%;
    }
    #trust_section .how-we-work {
        padding: 20px 20px;
    }
    #trust_section h2 {
        margin: 30px 0;
    }
    #trust_section .how-we-work .col-4 {
        height: 130px;
        padding: 0 20px;
    }
    .bg-red {
        margin-top: 50px;
    }
    #service_section .how-we-work .heading img {
        width: 50px;
        margin-left: -65px;
        margin-top: 0;
    }
    #service_section .how-we-work .heading {
        font-size: 20px;
        padding-left: 65px;
        height: 47px;
        margin-top: 10px;
    }
    #service_section .how-we-work .descr {
        padding-left: 65px;
        font-size: 14px;
    }
    .mejs-container .mejs-controls .mejs-time {
        padding: 26px 14px;
    }
    .top-menu .logo {
        margin-left: 20px;
    }
    .menu ul li a {
        font-size: 16px;
    }
    #contact_section form input {
        height: 45px;
        font-size: 15px;
    }
    #contact_section form textarea {
        height: 125px;
        font-size: 16px;
        padding: 20px;
    }
    #contact_section .row.col-2 {
        padding: 0 20px;
    }
    #contact_section form .send {
        width: 190px;
        height:45px;
        font-size:15px;
    }
    #blog_section .btn-wrapper .btn-red {
        line-height: 45px;
        height: 45px;
    }
    #blog_section .row .blog-item h3 {
        font-size: 20px;
    }
    #blog_section .row .blog-item .descr {
        font-size: 15px;
        height: 96px;
    }
    #footer_section .row .col-3 .dinline .item {
        margin-right: 20px;
    }
    .blog-wrapper .col-3 {
        display: none;
    }
    .blog-wrapper .col-3:first-child {
        display: block;
    }
    ul.pull-right.pr20 {
        padding-right: 0;
    }
    #intro_section .arrow-container {
        margin-top: 50px;
    }
    #blog_section .row .blog-item .img-block {
        min-height: 150px;
    }
}

